.containerImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: auto;
    max-height: 665px;
}

.btnAddImg {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 10px;
}