.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-container label {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.input-text-name-zone {
    outline: none !important;
    padding: 10px !important;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    width: 70%;
    margin: auto;
}

.input-text-name-zone:focus {
    border: 1px solid #82ccdd;
}