.btnAdd {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 10px;
}

.btnGroup {
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin: 15px auto;
}

.languageItem {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 5px auto;
}